<!DOCTYPE html>
<html>
<head>
  <title>Swisspay</title>
  <%= stylesheet_link_tag    "swisspay/application", media: "all" %>
  <%= javascript_include_tag "swisspay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
